@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  color-scheme: dark;
}

body {
  @apply bg-space-950 text-white overflow-x-hidden;
  font-feature-settings: "cv02", "cv03", "cv04", "cv11";
}

/* Custom Scrollbar */
::-webkit-scrollbar {
  width: 8px;
}
::-webkit-scrollbar-track {
  @apply bg-space-950;
}
::-webkit-scrollbar-thumb {
  @apply bg-space-800 rounded-full;
}
::-webkit-scrollbar-thumb:hover {
  @apply bg-space-700;
}
